<div class="ScraperPanel-header">
  <h3 class="ScraperPanel-headerTitle">Upload a URL</h3>
  <p class="ScraperPanel-headerDescription">Paste a URL and start the import</p>
</div>
<div class="ScraperPanel-body">
  <div class="ScraperPanel-bodyWrapper">
    <div class="ScraperPanel-state ScraperPanel-form is-idle"></div>
    <div class="ScraperPanel-state is-selected DatasetSelected"></div>
  </div>
</div>

