@import '../variables/mixins';
@import '../variables/colors';
@import '../variables/sizes';
@import 'cdb-variables/colors';

.Pagination {
  @include display-flex();
  @include justify-content(center, center);
  @include align-items(center, center);
}
.Pagination--shareList {
  @include display-flex();
  @include justify-content(flex-end, end);
  padding: 30px 0;
  border-top: 1px solid $cStructure-mainLine;
}
.Pagination--search {
  @include transform(translateX(-50%));
  position: absolute;
  bottom: 150px;
  left: 50%;
}
.Pagination--searchShare {
  bottom: 50px;
  z-index: 5;
}
.Pagination-label {
  margin-right: 16px;
}
.Pagination-list {
  @include display-flex();
  @include justify-content(center, center);
  @include align-items(center, center);
  padding: 1px 0;
  border: 1px solid rgba($cSecondaryDark, 0.04);
  border-radius: 4px;
  background: $cWhite;
}
.Pagination-listItem {
  border-right: 1px solid rgba($cSecondaryDark, 0.04);
  &:last-child {
    border-right: 0;
  }
}
.Pagination-listItemInner {
  display: block;
  padding: 8px 12px;
  border: none;
  outline: none;
}
.Pagination-listItemInner--more {
  color: $cSecondaryText;
}
.Pagination-listItem:first-child {
  border-radius: 5px 0 0 5px;
  .Pagination-listItemInner {
    border-radius: 5px 0 0 5px;
  }
}
.Pagination-listItem.is-current .Pagination-listItemInner--link,
.Pagination-listItem.is-current .Pagination-listItemInner--link:hover {
  color: $cSecondaryText;
  text-decoration: none;
  cursor: default;
}

.Pagination-arrow {
  fill: $cHintText;
  &.is-active {
    fill: $cBlue;
  }
}
