<div class="content">
  <div class="OverlayText text overlay_text js-font-style"></div>
  <textarea class="TextEditor js-text js-font-style"></textarea>
  <a class="close js-close" href="#close">x</a>
  <div class="Hint js-hint"><strong>**bold**</strong> <em>*italics*</em> <span>[link title](url)</span></div>
  <div class="stick"><div class="ball"></div></div>
</div>
