<div class="content">
  <div class="text OverlayText"></div>
  <a class="close js-close" href="#close">x</a>
  <div class="Hint js-hint"><strong>**bold**</strong> <em>*italics*</em> <span>[link title](url)</span></div>
</div>
